# Give syslog write access to the kernel logs
KERNEL=="console", GROUP="syslog", MODE="0620"

# Switch to using NOOP as the default scheduler per GCE request
SUBSYSTEM=="block", ENV{DEVTYPE}!="partition", ACTION=="add|change", ENV{ID_VENDOR}=="*Google*", ATTR{queue/scheduler}="noop"
